/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    color: #333;
    background-color: rgb(155, 6, 36);
    padding: 30px;
}

/* Form Container */
.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

/* Form Labels and Inputs */
form label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
    color: rgb(155, 6, 36);
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

form select {
    background-color: #fff;
}

textarea {
    resize: vertical;
}

/* Submit Button */
button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: rgb(155, 6, 36);
}
